/*regole generali*/
body{
  font-family: 'Roboto', sans-serif;
}
.ms_img img {
  width: 100%;
  height: auto;
}
.ms_list_no_margin {
  margin: 0;
}
.top_down_buffer{
  padding: 30px 0;
}
.top_down_buffer_col{
  padding-bottom: 15px;
}
.border_radius{
  border-radius: 5px;
}
h5{
  font-weight: bold;
}
.border_bottom{
  border-bottom: 1px solid white;
}

/*HEADER*/
/*navbar*/
header .primary_navbar ul,
header .primary_navbar .logo,
header .primary_navbar .burger
{
  line-height: 60px;
}
header .primary_navbar .logo img{
  width: 165px;
}
header .primary_navbar a{
  color: black;
}
header .primary_navbar .ms_btn{
  color: blue;
  padding: 5px 10px;
  border: 1px solid blue;

}
header .primary_navbar .burger{
  font-size: 20px;
  color: blue;
}
/*fine navbar*/

 /* titolo principale */
header #ms_titolo{
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .ms_text{
  color: white;
}
@media screen and (min-width: 992px ) {
   header .ms_text h1{
     font-size: 50px;
   }
   header .ms_text p{
     font-size: 20px;
   }
}
header .ms_box{
  background-color: white;
  border-radius: 5px;
  padding: 20px 10px;
}
header .ms_box span{
  color: blue;
}
/*personalizzo bottone*/
header .ms_box .ms_google{
  background-image: url(../img/google-icon.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
}
header .ms_box p{
  padding-top:10px;
  font-size: 15px;
}
header .ms_box p a{
  text-decoration: underline;
}
@media screen and (max-width: 991px ) {
   header .ms_box h3{
     margin-top: 0px;
   }
}

/*MAIN*/
/*loghi*/
main #ms_logos{
  background-color: #f3f5f9;
  padding-top: 30px;
  padding-bottom: 25px;
}
main #ms_logos a{
  color: blue;
}
main #ms_logos h4{
  color: #79849e;
}

/* calcolo dimensioni immagini */
main #ms_logos .images li{
  width: calc((90%/6)*1);
}
@media screen and (max-width: 991px ) {
  main #ms_logos .images li{
    width: calc((90%/2)*1);
  }
}

/* deploy and scale */
/*parte a sinistra*/
#ms_deploy .ms_list{
  border-left: 1px solid #79849e;
  padding-left: 5px;
}
#ms_deploy .ms_list ul{
  line-height: 35px;
}

#ms_deploy .ms_list a{
  color: #79849e;
}

/* Designed for developers e Development teams*/
.ms_slider{
  background-color: #f3f5f9;
}
.ms_slider .ms_carosel {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.ms_slider .ms_carosel .slider_main {
  width: 90%;
  margin: 0 auto;
}
.ms_slider p{
  padding-top: 15px;
}
.ms_slider .ms_carosel .arrow{
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ms_slider .ms_carosel .arrow_left{
  left: 0;
}
.ms_slider .ms_carosel .arrow_right{
  right: 0;
}
.ms_slider .ms_carosel .slider_main .ms_rockerbox{
  background-color: white;
  margin-bottom: 25px;
}
.ms_slider .ms_carosel .slider_main .ms_rockerbox img{
  width: 50%;
  margin: 0 auto;
}
p.no_padding{
  padding-top: 0;
}
@media screen and (max-width: 991px ){
  .ms_slider p{
    padding-bottom: 30px;
  }
  .ms_slider .ms_carosel .slider_main .ms_rockerbox p{
    padding: 0;
  }
  .ms_slider .ms_carosel .slider_main .ms_rockerbox img{
    padding-bottom: 10px;
    width: 90%;
  }
  .ms_slider .ms_carosel{
    width: 60%;
  }
}

/*business need*/
#ms_business a{
  color: blue;
}
#ms_business h3{
  margin-top: 0;
}

/*regions*/
#regions{
  background-color: #0031ae;
  color: white;
}
#regions a
{
  display: inline-block;
  color: #00a1c8;
}
#regions h5,
#regions p{
  margin: 0;
}
#regions h5,
#regions p,
#regions a
{
  padding:10px 0;
}
#regions h5{
  line-height: inherit;
}

@media screen and (min-width: 1200px ){
#regions .ms_padding_left{
  padding-left: 10px;
}
#regions .ms_padding_right{
  padding-right: 10px;
}
}




/*FOOTER*/
